@import "tailwindcss";

@theme {
    --color-primary-50: #E0E7FF;
    --color-primary-100: #C7D2FE;
    --color-primary-200: #A5B4FC;
    --color-primary-300: #818CF8;
    --color-primary-400: #6366F1;
    --color-primary-500: #4F46E5;
    --color-primary-600: #4338CA;
    --color-primary-700: #3730A3;
    --color-primary-800: #312E81;
    --color-primary-900: #23215C;

    --color-secondary-50: #FFF7ED;
    --color-secondary-100: #FFEDD5;
    --color-secondary-200: #FED7AA;
    --color-secondary-300: #FDBA74;
    --color-secondary-400: #FB923C;
    --color-secondary-500: #F97316;
    --color-secondary-600: #EA580C;
    --color-secondary-700: #C2410C;
    --color-secondary-800: #9A3412;
    --color-secondary-900: #7C2D12;

    --color-background-light: #F9FAFB;
    --color-background-dark: #111827;
}